
:host
{

}

ion-header
{
    background-color: var(--ion-color-light);
}

ion-content
{
    transform: translate3d(0, 0, 0);
}

.first
{
  width: 20em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page1
{

}
