<ion-header>
    <ion-toolbar color="dark">
        <div class="flex space-around header align-center">
            <span class="page-title">Articles</span>
            <ion-button color="light" fill="outline" (click)="logout()">
                <ion-icon name="log-out"></ion-icon> Déconnexion
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <section>
        <div *ngFor="let article of articles">
            <ion-card>
                <ion-item>
                    <ion-label>{{article.title}}</ion-label>
                    <ion-button color="secondary" slot="end">
                        <ion-icon name="save"></ion-icon>
                    </ion-button>
                    <ion-button color="primary" slot="end">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </ion-button>
                </ion-item>

                <ion-card-content>
                    {{article.body}}
                </ion-card-content>
            </ion-card>
        </div>
    </section>

</ion-content>