
:host {

}

ion-header {
  background-color: var(--ion-color-light);
}

ion-content {
  transform: translate3d(0, 0, 0);
}

.center-layout
{
    width: 400px;
    margin: auto;
}

.maxheight
{
    height: 100vh;
}

.main
{
    background-image: url("../../../assets/login_background.jpg");
}
